<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
	
	<div style="text-align:center">
	  <h1>
	    Welcome to {{ title }}!
	  </h1>
	</div>

	<nav>
		<a routerLink="/heroes">Heroes</a>
		<a routerLink="/dashboard">Dashboard</a>
		<a routerLink="/tests">Angular tests</a>
		<a routerLink="/templateDrivenForm">Template-driven form</a>
		<a routerLink="/reactiveForm">Reactive form</a>
	</nav>

	<router-outlet></router-outlet>
	<app-messages></app-messages>

</div>