<div class="container">
	<h1>Reactive form</h1>
	<input class="form-control" type="text" [formControl]="name">
	
	<br>
	<button class="btn btn-success" type="button" (click)="updateName()">Update name</button>
	<br>
	<hr>

	<h3>profileForm = new FormGroup(&#123;...&#125;)</h3>
	<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
		<label>
			First name:
			<input class="form-control" type="text" formControlName="firstName">

			<div *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)" 
				class="alert alert-danger">
				<div *ngIf="firstName.errors.required">
					Name is required.
				</div>
				<div *ngIf="firstName.errors.minlength">
					Name must be at least 4 characters long.
				</div>
				<div *ngIf="firstName.errors.forbiddenName">
				    Name cannot be Bob.
				</div>
			</div>

		</label><br>
		<label>
			Last name:
			<input class="form-control" type="text" formControlName="lastName">

			<div *ngIf="profileForm.errors?.namesAreEqual && (lastName.touched || lastName.dirty)" 
				class="alert alert-danger">
				First name and last name are same.
			</div>
		</label><br>
		
		<div formGroupName="address">
			<h3>Address</h3>
			<label>
				street:
				<input class="form-control" type="text" formControlName="street">
			</label><br>
			<label>
				city:
				<input class="form-control" type="text" formControlName="city">
			</label><br>
			<label>
				state:
				<input class="form-control" type="text" formControlName="state">
			</label><br>
			<label>
				zip:
				<input class="form-control" type="text" formControlName="zip">
			</label><br>
		</div>

		<button class="btn btn-success" type="submit" 
			(click)="updateProfile()" 
			[disabled]="!profileForm.valid">Update profile</button>
	</form><br>


	<h3>profileFormBuilder = this.fb.group(&#123;...&#125;)</h3>
	<form [formGroup]="profileFormBuilder" (ngSubmit)="onSubmitFormBuilder()">
		<label>
			First name:
			<input class="form-control" type="text" formControlName="firstName">
		</label><br>
		<label>
			Last name:
			<input class="form-control" type="text" formControlName="lastName">
		</label><br>
		
		<div formGroupName="address">
			<h3>Address</h3>
			<label>
				street:
				<input class="form-control" type="text" formControlName="street">
			</label><br>
			<label>
				city:
				<input class="form-control" type="text" formControlName="city">
			</label><br>
			<label>
				state:
				<input class="form-control" type="text" formControlName="state">
			</label><br>
			<label>
				zip:
				<input class="form-control" type="text" formControlName="zip">
			</label><br>
		</div>

		<div formArrayName="aliases">
			<h3>Aliases via this.fb.array([...])</h3> 
			<button class="btn btn-primary"
				(click)="addAlias()">Add Alias</button><br>

			<div *ngFor="let address of aliases.controls; let i=index">
		    	<label>
		      		Added alias:
		      		<input class="form-control" type="text" [formControlName]="i">
		    	</label>
			</div>
		</div><br>

		<button class="btn btn-success" type="submit" 
			(click)="updateProfileFormBuilder()" 
			[disabled]="!profileFormBuilder.valid">Update profile</button>
		<br><br>
		Profile status: {{profileFormBuilder.status}}
	</form>

</div>